<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cpunisher.dao.WordDao">
    <select id="getWordById" resultType="com.cpunisher.model.Word">
        SELECT
            *
        FROM
            words
        WHERE
            id=#{id}
    </select>

    <select id="getWordsCount" resultType="java.lang.Integer">
        SELECT
            COUNT(id)
        FROM
            words
    </select>
</mapper>